* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.base-width {
    width: 1226px;
    margin: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;